.vertical-stack {
    margin: auto 1rem !important;
}

.arrow-right-icon {
    margin: auto 0.5rem !important;
}

.action-caption {
    text-align: center !important;
}

.create-groups-button {
    display: flex !important;
    justify-content: center !important;
    margin-top: 1.5rem !important;
}
