.window-work-phase .window-content {
  max-height: 100%;
  min-height: 100%;
}

#image-popup {
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 10;
  max-height: 97%;
  max-width: 97%;
  object-fit: fill;
  cursor: zoom-out;
}

.popup-image {
  max-width: 100%;
  cursor: zoom-out;
}

.gallery-image {
  cursor: zoom-in;
  height: 100%;
  position: relative;
}

.gallery-image .close-button {
  background: #00000010;
  position: absolute;
  top: min(10%, 0.5em);
  right: min(10%, 0.5em);
}
