.window-work-phase .window-content {
  max-height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}

#image-popup {
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 10;
  max-height: 97%;
  max-width: 97%;
  object-fit: fill;
  cursor: zoom-out;
}

/* .popup-bg {
  position: absolute;
  z-index: 9;
  background: green;
  top: 50px;
  left: 10px;
  width: 99%;
  height: 93%;
} */

.popup-image {
  max-width: 100%;
  cursor: zoom-out;
}

.gallery-image {
  cursor: zoom-in;
}
